*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn__click {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  border: 1px solid #6d95a3;
  border-radius: 3px;
  background-color: #6d95a3;
  display: inline-block;
  color: #fff;
  height: 46px;
  width: 120px;
  font-size: 12px;
  text-transform: uppercase;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #3d424d;
  width: 584px;
  padding: 20px;
  border-radius: 7px;
}

.popup__close {
  background-color: #fff;
  align-self: flex-start;
}

.popup__container {
  text-align: center;
  padding: 0 50px;
}

.popup__img img {
  height: 100px;
  margin-bottom: 50px;
}

.popup__text {
  font-size: 26px;
  margin-bottom: 50px;
  line-height: 1.3;
}

.popup__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popup__buttons-cancel {
  display: inline-block;
  height: 36px;
  width: 210px;
  border: 2px solid #d7deea;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #8b93a3;
  font-weight: 700;
  border-radius: 5px;
}

.popup__buttons-uninstall {
  display: inline-block;
  height: 36px;
  width: 210px;
  border: 2px solid #ff3b30;
  background-color: #ff3b30;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
